$primary-color: #008BF6;
$btn-primary-color: #ffffff;
$btn-default-color: #eeeeee;
$link-color: #242324;
$checkout-color:#00E4B8;

button{
  &.btn{
  font-weight: 600;
    &.primary {
      background-color:$primary-color;
      color: $btn-primary-color;
    }
    &.link {
      background-color:transparent;
      color: $link-color;
    }
    &.default {
      border: solid 1px $btn-default-color;
    }
    &.checkout {
      background-color:$checkout-color;
      &:disabled {
        background-color:lighten($checkout-color,45%);
        color: darken($btn-primary-color,25%);
      }
    }
    &:disabled {
      background-color:lighten($primary-color,15%);
      color: darken($btn-primary-color,15%);
      cursor: not-allowed;
    }
  }
}
