$primary-color: #008BF6;
$btn-primary-color: #ffffff;

button{
  &.btn{
  font-weight: 500;
    &.primary {
      background-color:$primary-color;
      color: $btn-primary-color;
    }
    &.link {
      background-color:transparent;
    }
    &:disabled {
      background-color:lighten($primary-color,15%);
      color: darken($btn-primary-color,15%);
      cursor: not-allowed;
    }
  }
}
